@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700&display=swap");
body {
  background-color: #e1e5ea;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Tajawal", sans-serif;
}
:root {
  --bg-sidbar: #261c2c;
  --color-sidbar: #fff;
}
header {
  width: 100vw;
  height: 50px;
  background-color: brown;
}
.siderbar {
  /* border-radius: 0 20px 20px 0; */
  width: 200px;
  height: calc(100vh - 50px);
  background: var(--bg-sidbar);
  text-align: center;
  position: relative;
}
.siderbar > .logo {
  color: var(--color-sidbar);
  padding: 1.5rem 0.5rem 0rem;
}
.siderbar .centre-info {
  display: flex;
  align-items: center;
  height: 150px;
}

.siderbar .info {
  width: 100%;
}
.siderbar .info img {
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.siderbar .info h4 {
  color: var(--color-sidbar);
}
.siderbar .info h6 {
  color: #979797;
}
.siderbar .menu {
}
.siderbar .menu ul {
  text-align: left;
}

.siderbar .menu ul li {
  display: block;
  padding: 0.5rem;
  position: relative;
  margin-block: 0.7rem;
  cursor: pointer;
}
.siderbar .menu ul li svg {
  margin-right: 0.5rem;
  vertical-align: middle;
  height: 1.3rem;
  width: 1.3rem;
}
.siderbar .menu ul li a {
  color: var(--color-sidbar);
  text-decoration: none;
  margin-left: 2rem;
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  align-items: center;
}
.siderbar .menu ul li::before {
  content: "";
  position: absolute;
  background-color: #ffe194;
  width: 0.4rem;
  height: 100%;
  top: 0;
  left: 0px;
}
.siderbar .menu ul li:hover::before {
  background-color: #fff;
  transition: background-color ease-out 0.5s;
}
.siderbar .menu ul li:hover {
  background-color: #ffe194;
  margin-right: 0.5rem;
  border-radius: 0 25px 25px 0;
  transition: background-color ease-out 0.5s;
}
.siderbar .menu ul li:hover a,
.siderbar .menu ul li:hover a svg {
  color: var(--bg-sidbar) !important;
}
