* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
}
a.btn {
  margin: 10px 0;
  display: inline-block;
  background: #fff;
  padding: 16px 32px;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  color: #f44336;
  border-radius: 5px;
  box-shadow: 0 12px 60px rgb(0, 0, 0, 0.2);
}
a.btn:hover {
  background-color: #f44336;
  color: #fff;
  transition: background-color 1s;
  transition: color 0.5s;
}
.background-header {
  background: url("../img/banner.jpg");
  background-size: cover;
  position: relative;
  min-height: 100vh;
  background-position: center;
}
/* start header */
header {
  height: 120px;
  padding: 30px 60px;
  position: absolute;
  width: 100%;
}
header > div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav {
  float: right;
}
header .logo {
  font-size: 45px;
  color: white;
}

/* header ul {
  float: right;
} */
header ul li {
  display: inline-block;
  padding: 15px;
}
header ul li a {
  font-size: 19px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
}
header ul li a.active,
header ul li a:hover {
  color: #f44336;
  transition: color 1s;
}
/* start end */

section .img-info {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100vh;
  width: 65%;
  padding: 30px 0px;
  margin: 0 50px;
}
section .img-info h1 {
  margin-top: 65px;
  font-size: 85px;
  line-height: 1.2;
  color: white;
}
section .img-info p {
  margin: 20px 0;
  font-size: 21px;
  word-spacing: 3px;
  letter-spacing: 3px;
  line-height: 2;
  color: #ffffffb5;
}

/* start section */
.card-company {
  background-color: #f7f7f7;
}
.card-company article {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 6rem 0rem;
  max-width: 1100px;
  margin: 0 auto;
}
.card-company article > div {
  width: 100%;
}
.card-company .info {
  padding: 1rem;
  padding-left: 4rem;
}
.card-company h2 {
  margin-bottom: 1rem;
  font-size: 2.5em;
  letter-spacing: 2px;
  color: #292a2b;
  text-transform: capitalize;
}
.card-company p {
  margin-bottom: 1rem;
  font-size: 1em;
  color: #8c9398;
  line-height: 2em;
  letter-spacing: 1px;
  text-align: left;
}
.card-company article > div .img {
  width: 100%;
}
.card-company article > div img {
  max-width: 100%;
  height: auto;
  padding: 6px;
  border-radius: 10px;
}
/* end section */
