@font-face {
  font-family: Roboto;
  src: url(../font/Roboto-Medium.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  text-decoration: none;
}
body {
  background: #f1f1f1;
}
/* start section header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
nav ul li {
  display: inline-block;
  margin: 0 20px;
}
nav ul li a {
  color: #f4433e;
  font-size: 20px;
}
nav ul li a.active,
nav ul li a:hover {
  color: #11b3aa;
}
/* end section header */
.title {
  margin: 20px 0;
  font-size: 65px;
  word-spacing: 20px;
  text-align: center;
}
.list-button {
  margin-top: 14px;
  display: flex;
  justify-content: center;
}
.list-button button {
  display: inline-block;
  all: unset;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
}
section {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}
section article {
  width: 100%;
  padding: 15px 48px;
  margin: 0 3px;
}
section article .profile-info {
  width: 600px;
  padding: 15px 48px;
  margin: 0 auto;
}
section article .profile-info p {
  text-align: center;
  font-size: small;
  line-height: 1.4;
  color: #5a5a5add;
  font-size: 20px;
}
section article .profile-info .cercle {
  display: block;
  margin: 0 auto;
  width: 150px;
  border-radius: 9999px;
  border: 10px solid #f4433e;
  filter: brightness(1.15) contrast(0.85);
}

section article .profile-info .list-button button.orange {
  background-color: #f4433e;
  color: white;
  border-radius: 30px;
  padding: 15px 48px;
  margin: 0 3px;
  width: 50%;
}
section article .profile-info .list-button button.default {
  border: 2px solid #f4433e;
  color: #f4433e;
  border-radius: 30px;
  padding: 15px 48px;
  margin: 0 3px;
  width: 50%;
}
section article .profile-info .list-button button:hover {
  opacity: 0.8;
}
section article .contact {
  margin: 100px 0;
}

section article span {
  color: #f4433e;
  font-size: 24px;
  text-align: center;
  display: block;
  margin: 20px auto;
}
section article .contact .list-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
section article .contact .list-card .contact-card {
  padding: 60px 40px;
  background: #e5beb7;
  border-radius: 14px;
  margin: 7px;
  width: 400px;
  text-align: center;
}

section article .contact .list-card .contact-card img {
  display: block;
  margin: 0 auto;
  width: 127px;
  border-radius: 40px;
  border: 10px solid #f4433e;
  filter: brightness(1.15) contrast(0.85);
}
section article .contact .list-card .contact-card h2 {
  margin: 15px 0;
}
section article .contact .list-card .contact-card h3 {
  color: #f4433e;
  margin: 15px 0;
}
section article .contact .list-card .contact-card p {
  margin: 15px 0;
  color: #5a5a5add;
  line-height: 1.5;
}
/* start section footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: conic-gradient(
    from 45deg,
    red,
    orange,
    yellow,
    green,
    blue,
    purple
  );
}
footer .card-footer {
  width: 300px;
}
footer .card-footer .info {
  text-align: center;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  padding: 100px 5px 0px 5px;
  background-image: conic-gradient(
    from 45deg,
    red,
    orange,
    yellow,
    green,
    blue,
    purple
  );
}
footer .card-footer .info img {
  display: block;
  margin: 0 auto;
  width: 150px;
  padding: 7px;
  border-radius: 9999px;
  filter: brightness(1.15) contrast(0.85);
  background-image: conic-gradient(
    from 45deg,
    red,
    orange,
    yellow,
    green,
    blue,
    purple
  );
}
footer .card-footer .info h2 {
  margin-top: 15px;
  opacity: 0.85;
}
footer .card-footer .info p {
  line-height: 1.5;
  padding: 15px 0;
  color: white;
  font-size: 17px;
}
footer .card-footer .whislist {
  text-align: center;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  background-color: white;
  padding: 5px 5px 0px 5px;
}
footer .card-footer .whislist img {
  display: block;
  margin: 5px auto;
  width: 25px;
  padding: 2px;
  border-radius: 9999px;
  filter: brightness(1.15) contrast(0.85);
  background-image: conic-gradient(
    from 45deg,
    red,
    orange,
    yellow,
    green,
    blue,
    purple
  );
}
footer .card-footer .whislist button {
  margin: 5px auto;
  background: #131e14;
  color: white;
  border-radius: 12px;
  padding: 15px 48px;
  margin: 0 3px;
}
footer .card-footer .whislist button:hover {
  opacity: 0.8;
}
footer .card-footer .whislist h2 {
  margin: 10px auto;
  color: #313131dd;
  padding-bottom: 30px;
}
/* end section footer */
