@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Tajawal", sans-serif;
}
body {
  background-color: #fafafa;
}
header {
  display: flex;
  align-items: center;
  height: 70px;
  width: 1400px;
  margin: 0 auto;
}
header .logo {
  display: flex;
  align-items: center;
  width: 30%;
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
}
header .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}
header .menu nav ul li {
  display: inline-block;
  margin-inline: 1rem;
  color: black;
}
header .menu nav ul li a {
  color: black;
  font-size: 1rem;
  font-weight: 500;
}
header .login a {
  padding: 0.5rem 3rem;

  font-size: 1rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
}
header .login .Signup {
  padding: 0.5rem 3rem;
  margin-inline: 1rem;
  background-color: darkcyan;
  border-radius: 26px;
  color: rgb(255, 255, 255);
}
section {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 500px;
  overflow: hidden;
}
.left {
  width: 50%;
}
.left h1 {
  font-size: 4rem;
  font-weight: 900;
}
.left P {
  margin-block: 3rem;
}
.left form {
  margin-block: 3rem;
}
.left form input {
  z-index: 0;
  border: none;
  padding: 1rem 2rem 1rem 1rem;
  border-radius: 29px;
  width: 50%;
  font-size: 1.2rem;
}
.left form input:focus {
  border: 1px solid darkcyan;
  outline: none;
  border-radius: 29px 0 0 29px;
}
.left form button {
  z-index: 4;
  margin-left: -2rem;
  border: none;
  padding: 1.3rem;
  border-radius: 29px;
  width: 25%;
  background-color: darkcyan;
  color: white;
}
.right {
  overflow: hidden;
  width: 50%;
}
.right img {
}
