@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: aliceblue;
  text-decoration: none;
  list-style-type: none;
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #0d1838;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
header {
  height: 120px;
  border-bottom: 2px solid #27314e;
}
header > div,
.left-menu,
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-menu {
  height: 120px;
  position: relative;
}

nav ul li {
  padding: 7px 15px;
  margin: 5px;
}
nav ul li a {
  position: relative;
  padding: 5px;
}
/* .active {
  position: relative;
} */
.active::after {
  content: "";
  width: 100%;
  border-bottom: 3px solid #f46372;
  margin-bottom: -42px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: 0;
}
.login {
  margin-left: 30px;
}
.login a {
  background: #f46271;
  padding: 13px 30px;
  border-radius: 30px;
}
